{% extends "base.html" %}
{% load  static %}
{% block title %}
<div class="container">
    <div class="logo mb-5">
        <a href=" {% url "index" %} "><img src=" {% static 'images/logoo.png' %}" alt="LOGO"></a>
        <p class="text-center mt-20"><span class="d-block fw-bold mb-10 fs-6">Ajouter un Élève</span> formulaire d'Inscription d'un Nouveau Élève</p>                        
    </div>
    <title>Sélectionner une Classe</title>
    {% endblock title %}

    {% block body %}
    <h2>bulletin des notes Secondaire </h2>
    <div class="container mt-5">
        <h2>Sélectionner une Classe</h2>
        <form method="GET" action="{% url 'generate_class_report_cards' 0 0 %}">

            <div class="form-group has-icon-left">

            <label for="sessionyear">Année Scolaire :</label>
            <select id="sessionyear" name="sessionyear" class="form-select form-control">
                {% for year in session_years %}
                    <option value="{{ year.id }}">{{ year.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group has-icon-left">
            <label for="class">Classe :</label>
            <select id="class" name="class" class="form-select form-control">
                {% for class in classes %}
                    <option value="{{ class.id }}">{{ class.name }}</option>
                {% endfor %}
            </select>
        </div>
            <button class="btn btn-lg btn-primary w-100" type="submit">Générer les Bulletins</button>
        </form>

</div>

    <script>
        document.querySelector("form").addEventListener("submit", function(e) {
            e.preventDefault();
            let sessionyear = document.getElementById("sessionyear").value;
            let classe = document.getElementById("class").value;
            if (sessionyear && classe) {
                let url = "{% url 'generate_class_report_cards' 0 0 %}".replace('/0/0/', `/${classe}/${sessionyear}/`);
                window.location.href = url;
            }
        });
    </script>
{% endblock %}