{% load compress static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bulletin Final</title>
    
    {% compress css %}
        <link rel="stylesheet" href="{% static 'css/bultin.css' %}">
    {% endcompress%}

</head>
<body>
    <h2>Bulletin Final de {{ student.first_name }} {{ student.last_name }}</h2>
    <p>Année Scolaire : {{ session_year.name }}</p>

    <table border="1">
        <thead>
            <tr>
                <th>Matière</th>
                {% for trimestre in trimestres %}
                    <th>{{ trimestre.name }}</th>
                {% endfor %}
                <th>Moyenne Annuelle</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
                <tr>
                    <td>{{ result.subject }}</td>
                    {% for trimester in result.trimesters %}
                        <td>{{ trimester.normalized_score|floatformat:2 }}</td>
                    {% endfor %}
                    <td>{{ result.yearly_score|floatformat:2 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Moyenne Générale Annuelle : {{ yearly_average }}</h3>

    {% if yearly_average >= 15 %}
    <p class="pass">Décision : Très Bien</p>
    {% elif yearly_average >= 13 %}
        <p class="pass">Décision : Bien</p>
    {% elif yearly_average >= 9 %}
        <p class="pass">Décision : Passable</p>
    {% else %}
        <p class="fail">Décision : Redoublement</p>
    {% endif %}

    <a href="{% url 'index' %}">Retour</a>
</body>
</html>
