<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bulletin de Notes</title>
</head>
<body>
    <h1>École XYZ</h1>
    <h2>Bulletin de Notes Annuel</h2>
    <h2>Année Scolaire : {{ session_year.name }}</h2>

    <p><strong>Nom de l'élève :</strong> {{ student.first_name }} {{ student.last_name }}</p>
    <p><strong>Classe :</strong> {{ student.student_class.name }}</p>
    <p><strong>Année Scolaire :</strong> {{ session_year.name }}</p>

    <table border="1">
        <thead>
            <tr>
                <th>Matière</th>
                <th>Exam 1(*1)</th>
                <th>Exam 2(*2)</th>
                <th>Exam 3(*3)</th>
                <th>Devoirs(*3)</th>
                <th>Moy Finale</th>
                <th>Coef</th>
                <th>Total</th>
                <th>Observation</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr>
                <td>{{ result.subject }}</td>
                <td>{% if result.comp1 == "ABJ" %}ABJ{% else %}{{ result.comp1 }}{% endif %}</td>
                <td>{% if result.comp2 == "ABJ" %}ABJ{% else %}{{ result.comp2 }}{% endif %}</td>
                <td>{% if result.comp3 == "ABJ" %}ABJ{% else %}{{ result.comp3 }}{% endif %}</td>
                <td>{{ result.devoirs }}</td>
                <td>{{ result.moyenne_finale }}</td>
                <td>{{ result.coefficient }}</td>
                <td><strong>{{ result.note_finale }}</strong></td>
                <td> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p><strong>Moyenne Générale Annuelle :</strong> {{ yearly_average }}</p>

    {% if yearly_average <= 20 and yearly_average >= 15 %}
        <p class="pass">Décision : Très Bien</p>
    {% elif yearly_average < 15 and yearly_average >= 12 %}
        <p class="pass">Décision : Bien</p>
    {% elif yearly_average < 12 and yearly_average >= 9 %}
        <p class="pass">Décision : Passable</p>
    {% else %}
        <p class="fail">Décision : Redoublement</p>
    {% endif %}
</body>
</html>
