{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block title %}
    <title>Mon Ecole</title>
    {% endblock title %}
         


    <link rel="stylesheet" href=" {% static '/css/animate.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'bootstrap-icon/bootstrap-icons.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/jquery.mCustomScrollbar.min.css' %}">
    <link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href=" {% static '/css/sweetalert.css' %} ">
    <link rel="stylesheet" href=" {% static '/css/toastify.min.css' %} ">
    <link rel="stylesheet" href=" {% static '/css/jquery.dataTables.min.css' %} ">
    <link rel="stylesheet" href=" {% static '/css/responsive.bootstrap.min.css' %} ">
    <link rel="stylesheet" href=" {% static '/css/bootstrap.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/style.css' %}">
    <script src=" {% static 'js/toastr.min.js' %}"></script>
    <style>
        .col-md-4 {
            overflow: visible;
        }
    </style>
</head>

<body>

{% block sidebar %}
    

    
    <!-- main sidebar -->
    <div class="fixed-sidebar sidebar-mini">
        <div class="logo">
            <button class="sidebar-collapse"><i class="bi bi-list"></i></button>
            <a href=" {% url 'index' %} "><img src=" {% static 'images/logoo.png' %}" alt="LOGO"></a>
        </div>
        <!-- sidebar menu -->
        <div class="menu">
            <div class="custom-scroll">
                <div class="sidebar-menu">
                    <ul>
                        <li class="sidebar-title"><span>Menu</span>
                        </li>
                        <li class="sidebar-item"><a href=" {% url 'index' %} " class=" sidebar-link active"
                                data-bs-toggle="tooltip" data-bs-placement="right" title="Page d'Accueil" tabindex="0"><i
                                    class="bi bi-list"></i> <span>Page d'Accueil</span></a></li> 

                        <li class="sidebar-item"><a role="button" class="sidebar-link" data-bs-placement="right"title="Comptabilité" tabindex="0"><i class="bi bi-stack"></i> <span>LaComptabilité</span></a>
                        <li  class="sidebar-item"><a href=" {% url 'open_cash_register' %} " role="button" class="sidebar-link" data-bs-placement="right"title="Comptabilité" tabindex="0"><i class="bi bi-stack"></i> <span>Ouvrir la Caisse</span></a>
                        <li  class="sidebar-item"><a href=" {% url 'add_payment' %} " role="button" class="sidebar-link" data-bs-placement="right"title="Comptabilité" tabindex="0"><i class="bi bi-stack"></i> <span>Ajouter un Paiement</span></a>
                        <li  class="sidebar-item"><a href=" {% url 'get_cash_register_status_by_user' %} " role="button" class="sidebar-link" data-bs-placement="right"title="Comptabilité" tabindex="0"><i class="bi bi-stack"></i> <span>Liste des Caisses</span></a>
                        <li  class="sidebar-item"><a href=" {% url 'cash_register_status' %} " role="button" class="sidebar-link" data-bs-placement="right"title="Comptabilité" tabindex="0"><i class="bi bi-stack"></i> <span>Le Status De La Caisses</span></a>
                        <li  class="sidebar-item"><a href=" {% url 'transaction_list_adminf' %} " role="button" class="sidebar-link" data-bs-placement="right"title="Comptabilité" tabindex="0"><i class="bi bi-stack"></i> <span>Les Transaction</span></a>
                        <li  class="sidebar-item"><a href=" {% url 'student_fee_list' %} " role="button" class="sidebar-link" data-bs-placement="right"title="Comptabilité" tabindex="0"><i class="bi bi-stack"></i> <span>Frais Etudient</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- sidebar menu -->
    </div>
{% endblock sidebar %}
    <div class="main-content">
        <div class="breadcrumb-wrap mb-20">
            
            {% block body %}
            {% if messages %}
            <div class="container mt-4">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            {% endblock body %}
        </div>
    </div>
    </div>

    <script src=" {% static '/js/jquery-3.6.0.min.js' %}"></script>
    <script src=" {% static '/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src=" {% static '/js/apexcharts.js' %}"></script>
    <script src=" {% static '/js/bootstrap.bundle.min.js' %}"></script>
    <script src=" {% static '/js/main.js' %}"></script>
    <script src=" {% static '/js/chart-init.js' %}"></script>
    <script src=" {% static '/js/sweetalert.min.js' %}"></script>
    <script src=" {% static '/js/toastify-js.js' %}"></script>
    <script src=" {% static '/js/jquery.dataTables.min.js' %}"></script>
    <script src=" {% static '/js/dataTables.responsive.min.js' %}"></script>
    <script src=" {% static '/js/datatables-init.js' %}"></script>
</body>

</html>