{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Ecole</title> 

    <link rel="shortcut icon" href="favicon.png">
    <link rel="stylesheet" href=" {% static '/css/animate.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'bootstrap-icon/bootstrap-icons.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/jquery.mCustomScrollbar.min.css' %}">
    <link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href=" {% static '/css/sweetalert.css' %} ">
    <link rel="stylesheet" href=" {% static '/css/toastify.min.css' %} ">
    <link rel="stylesheet" href=" {% static '/css/jquery.dataTables.min.css' %} ">
    <link rel="stylesheet" href=" {% static '/css/responsive.bootstrap.min.css' %} ">
    <link rel="stylesheet" href=" {% static '/css/bootstrap.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/style.css' %}">
    <style>
        .zoom {
            transition: transform 0.3s ease; /* Smooth zoom effect */
            cursor: pointer; /* Change cursor to pointer to indicate clickability */
        }
    
        .zoom:hover {
            transform: scale(1.2); /* Zoom in the image on hover */
        }
        .col-md-4 {
            overflow: visible;
        }
    </style>
</head>
<body>
   
        <!-- main sidebar -->
        <div class="fixed-sidebar sidebar-mini">
            <div class="logo">
                <button class="sidebar-collapse"><i class="bi bi-list"></i></button>
                <a href=" {% url 'index' %} "><img src=" {% static 'images/logoo.png' %}" alt="LOGO"></a>
            </div>
            <!-- sidebar menu -->
            <div class="menu">
                <div class="custom-scroll">
                    <div class="sidebar-menu">
                        <ul>
                            <li class="sidebar-title"><span>Menu</span>
                            </li>
                            <li class="sidebar-item"><a href=" {% url "index" %} " class="sidebar-link active" data-bs-toggle="tooltip" data-bs-placement="right" title="Dashboard" tabindex="0"><i class="bi bi-grid-fill"></i> <span>Page d'Accueil</span></a></li>
                            <li class="sidebar-item has-sub">
                                <a role="button" class="sidebar-link" data-bs-toggle="tooltip" data-bs-placement="right" title="Components" tabindex="0"><i class="bi bi-stack"></i> <span>Les étudiants</span></a>
                                <ul class="sub-menu">
                                    <li><a href=" {% url 'students_list' %} " class="sub-menu-item">Listes des étudiants</a></li>
                                    <li><a href=" {% url 'add_student' %} " class="sub-menu-item">Ajouter un étudiant</a></li>
                                    <li><a href=" {% url 'add_parent' %} " class="sub-menu-item">Ajouter un Parent</a></li>
                                    <li><a href=" {% url 'parent_list' %} " class="sub-menu-item">List des Parents</a></li>
                                </ul>
                            </li>
                            <li class="sidebar-item has-sub">
                                <a role="button" class="sidebar-link" data-bs-toggle="tooltip" data-bs-placement="right" title="Components" tabindex="0"><i class="bi bi-stack"></i> <span>La comptabilité</span></a>
                                <ul class="sub-menu">
                                    <li><a href="component_alert.html" class="sub-menu-item">Alert</a></li>
                                    <li><a href="component_badge.html" class="sub-menu-item">Badge</a></li>
                                    <li><a href="component_button.html" class="sub-menu-item">Button</a></li>
                                    <li><a href="component_card.html" class="sub-menu-item">Card</a></li>
                                    <li><a href="component_carousel.html" class="sub-menu-item">Carousel</a></li>
                                    <li><a href="component_list_group.html" class="sub-menu-item">List Group</a></li>
                                    <li><a href="component_modal.html" class="sub-menu-item">Modal</a></li>
                                    <li><a href="component_progress.html" class="sub-menu-item">Progress</a></li>
                                </ul>
                            </li>
                            <li class="sidebar-item has-sub">
                                <a role="button" class="sidebar-link" data-bs-toggle="tooltip" data-bs-placement="right" title="Components" tabindex="0"><i class="bi bi-stack"></i> <span>Gestion des classe</span></a>
                                <ul class="sub-menu">
                                    <li><a href=" {% url 'class_create' %} " class="sub-menu-item">Ajouter une classe</a></li>
                                    <li><a href="{% url 'class_list' %}" class="sub-menu-item">Liste des Classes</a></li>
                                    <li><a href="{% url 'class_archived_list' %}" class="sub-menu-item">Archive des classes</a></li>
                                </ul>
                            </li>
                            <li class="sidebar-item"><a href="extra_component.html" class="sidebar-link" data-bs-toggle="tooltip" data-bs-placement="right" title="Extra Components" tabindex="0"><i class="bi bi-collection-fill"></i> <span>Extra Components</span></a></li>
                            <li class="sidebar-title"><span>Forms & Tables</span></li>
                            <li class="sidebar-item"><a href="form_element.html" class="sidebar-link" data-bs-toggle="tooltip" data-bs-placement="right" title="Form Elements" tabindex="0"><i class="bi bi-hexagon-fill"></i> <span>Form Elements</span></a></li>
                            <li class="sidebar-item"><a href="form_layout.html" class="sidebar-link" data-bs-toggle="tooltip" data-bs-placement="right" title="Form Layout" tabindex="0"><i class="bi bi-file-earmark-medical-fill"></i> <span>Form Layout</span></a></li>
                            <li class="sidebar-item"><a href="editor.html" class="sidebar-link" data-bs-toggle="tooltip" data-bs-placement="right" title="Form Editor" tabindex="0"><i class="bi bi-pen-fill"></i> <span>Text Editor</span></a></li>
                            <li class="sidebar-item"><a href="table.html" class="sidebar-link" data-bs-toggle="tooltip" data-bs-placement="right" title="Table" tabindex="0"><i class="bi bi-grid-1x2-fill"></i> <span>Table</span></a></li>
                            <li class="sidebar-item"><a href="data_table.html" class="sidebar-link" data-bs-toggle="tooltip" data-bs-placement="right" title="Datatable" tabindex="0"><i class="bi bi-file-earmark-spreadsheet-fill"></i> <span>Datatable</span></a></li>
                            <li class="sidebar-title"><span>Extra UI</span></li>
                            <li class="sidebar-item"><a href="widget.html" class="sidebar-link" data-bs-toggle="tooltip" data-bs-placement="right" title="Widgets" tabindex="0"><i class="bi bi-pentagon-fill"></i> <span>Widgets</span></a></li>
                            <li class="sidebar-item has-sub">
                                <a role="button" class="sidebar-link" data-bs-toggle="tooltip" data-bs-placement="right" title="Icons" tabindex="0"><i class="bi bi-egg-fill"></i> <span>Icons</span></a>
                                <ul class="sub-menu">
                                    <li><a href="bootstrap_icon.html" class="sub-menu-item">Bootstrap Icons </a></li>
                                    <li><a href="font_awesome.html" class="sub-menu-item">Fontawesome</a></li>
                                </ul>
                            </li>
                            <li class="sidebar-item"><a href="chart.html" class="sidebar-link" data-bs-toggle="tooltip" data-bs-placement="right" title="Charts" tabindex="0"><i class="bi bi-bar-chart-fill"></i> <span>Apexcharts</span></a></li>
                            <li class="sidebar-title"><span>Pages</span></li>
                            <li class="sidebar-item"><a href="email.html" class="sidebar-link" data-bs-toggle="tooltip" data-bs-placement="right" title="Email Application" tabindex="0"><i class="bi bi-envelope-fill"></i> <span>Email Application</span></a></li>
                            <li class="sidebar-item has-sub">
                                <a role="button" class="sidebar-link" data-bs-toggle="tooltip" data-bs-placement="right" title="Authentication" tabindex="0"><i class="bi bi-person-badge-fill"></i> <span>Authentication</span></a>
                                <ul class="sub-menu">
                                    <li><a href="login.html" class="sub-menu-item">Login</a></li>
                                    <li><a href="register.html" class="sub-menu-item">Register</a></li>
                                    <li><a href="password.html" class="sub-menu-item">Forgot Password</a></li>
                                </ul>
                            </li>
                            <li class="sidebar-item has-sub">
                                <a role="button" class="sidebar-link" data-bs-toggle="tooltip" data-bs-placement="right" title="Errors" tabindex="0"><i class="bi bi-x-octagon-fill"></i> <span>Errors</span></a>
                                <ul class="sub-menu">
                                    <li><a href="403.html" class="sub-menu-item">403</a></li>
                                    <li><a href="404.html" class="sub-menu-item">404</a></li>
                                    <li><a href="500.html" class="sub-menu-item">500</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="sidebar-fixed-bottom">
    
                            <a role="button" class="text-center btn-show-group">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                
                            <div class="btn-group-wrapper">
                                <div class="btn-group btn-group-justified" role="group">
                                    <a href="#" class="text-center" role="button"><i class="fas fa-cogs"></i></a>
                                    <a href="xp-lockscreen.html" class="text-center" role="button"><i class="fas fa-lock"></i></a>
                                    <a href="xp-login.html" class="text-center" role="button"><i class="fas fa-sign-out-alt"></i></a>
                                </div>
                            </div>
                
                        </div>
                    </div>
                </div>
            </div>
            <!-- sidebar menu -->
        </div>

{% block body %}
<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img id="modalImage" src="" class="img-fluid" alt="Student Photo">
            </div>
        </div>
    </div>
</div>

{% if messages %}
<div class="container mt-4">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock body %}
    </div>

    <script src=" {% static '/js/jquery-3.6.0.min.js' %}"></script>
    <script src=" {% static '/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src=" {% static '/js/apexcharts.js' %}"></script>
    <script src=" {% static '/js/bootstrap.bundle.min.js' %}"></script>
    <script src=" {% static '/js/main.js' %}"></script>
    <script src=" {% static '/js/chart-init.js' %}"></script>

    <script src=" {% static '/js/sweetalert.min.js' %}"></script>
    <script src=" {% static '/js/toastify-js.js' %}"></script>
    <script src=" {% static '/js/jquery.dataTables.min.js' %}"></script>
    <script src=" {% static '/js/dataTables.responsive.min.js' %}"></script>
    <script src=" {% static '/js/datatables-init.js' %}"></script>


    <!-- Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        // Loop through Django messages and display them with Toastr
        
    </script>
    <script>
        function showImage(imageUrl) {
            const modalImage = document.getElementById('modalImage');
            modalImage.src = imageUrl;
        }
    </script>
</body>
</html>