{% load compress static i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_CODE == 'ar' %}rtl{% else %}ltr{% endif %}">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block title %}
    <title>{% trans "My School" %}</title>
    {% endblock title %}
        
    {% compress css %}  
    <link rel="shortcut icon" href="{% static 'favicon.png' %}">
        <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap-icon/bootstrap-icons.css' %}">
        <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
        <link rel="stylesheet" href="{% static 'css/toastify.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% endcompress %}
       

</head>

<body>

    <div class="fixed-top-section bg-success text-white ">
        <div class="profile-info">
            <img src="{% if request.user.photo %}{{ request.user.photo.url }}{% else %}{% static 'images/default-profile.png' %}{% endif %}"
                 alt="{% trans 'Profile Picture' %}" class="profile-photo">
            <h4>{% trans "Welcome," %} {{ request.user.first_name }} {{ request.user.last_name }}</h4>
        </div>
        <div class="profile-actions">
            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}">
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value=" {% trans 'Go' %} ">
</form>
        </div>
        <a href="{% url 'logout' %}" class="btn btn-danger">{% trans "Logout" %}</a>
    </div>
{% block sidebar %}
    

    
    <!-- main sidebar -->
    <div class="fixed-sidebar sidebar-mini mt-20">
        <div class="logo">
            <button class="sidebar-collapse"><i class="bi bi-list"></i></button>
            <a href=" {% url 'index' %} "><img src=" {% static 'images/logoo.png' %}" alt="{% trans 'LOGO' %}"></a>
        </div>
        <!-- sidebar menu -->
        <div class="menu">
            <div class="custom-scroll">
                <div class="sidebar-menu">
                    <ul>
                        <li class="sidebar-title"><span>{% trans "Menu" %}</span>
                        </li>
                        <li class="sidebar-item"><a href=" {% url 'index' %} " class=" sidebar-link active"
                                data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans "Home Page" %}" tabindex="0"><i
                                    class="bi bi-grid-fill"></i> <span>{% trans "Home Page" %}</span></a></li>
                        <li class="sidebar-item has-sub">
                            <a role="button" class="sidebar-link" data-bs-toggle="tooltip" data-bs-placement="right"
                                title="{% trans 'Students' %}" tabindex="0"><i class="bi bi-person"></i><span>{% trans "Students" %}</span></a>
                            <ul class="sub-menu">
                                <li><a href=" {% url 'add_student' %} " class="sub-menu-item">{% trans "Add Student" %}</a>
                                <li><a href=" {% url 'students_list' %} " class="sub-menu-item">{% trans "Students List" %}</a>
                                </li>
                                </li>
                                <li><a href=" {% url 'add_edit_parent' 0 %} " class="sub-menu-item">{% trans "Add Parent" %}</a></li>
                                <li><a href=" {% url 'parent_list' %} " class="sub-menu-item">{% trans "Parent List" %}</a></li>
                                <li><a href=" {% url 'parent_list_card' %} " class="sub-menu-item">{% trans "Parent List Card" %}</a></li>
                            </ul>
                        </li>
                        <li class="sidebar-item has-sub">
                            <a role="button" class="sidebar-link" data-bs-toggle="tooltip" data-bs-placement="right"
                                title="{% trans "Accounting" %}" tabindex="0"><i class="bi bi-stack"></i> <span>{% trans "Accounting" %}</span></a>
                            <ul class="sub-menu">
                                <li><a href=" {% url 'open_cash_register' %} " class="sub-menu-item">{% trans "Open Cash Register" %}</a></li>
                                <li><a href=" {% url 'cash_register_list' %} " class="sub-menu-item">{% trans "Cash Register List" %}</a></li>
                                <li><a href=" {% url 'cash_register_status' %} " class="sub-menu-item">{% trans "Cash Register Status" %}</a></li>
                                <li><a href=" {% url 'transaction_list' %} " class="sub-menu-item">{% trans "Transactions" %}</a></li>
                                <li><a href=" {% url 'student_fee_list' %} " class="sub-menu-item">{% trans "Student Fees" %}</a></li>
                            </ul>
                        </li>
                        <li class="sidebar-item has-sub">
                            <a role="button" class="sidebar-link" data-bs-toggle="tooltip" data-bs-placement="right"
                                title="{% trans "Classes Management" %}" tabindex="0"><i class="bi bi-stack"></i> <span>{% trans "Classes Management" %}</span></a>
                            <ul class="sub-menu">
                                <li><a href=" {% url 'create_classe' %} " class="sub-menu-item">{% trans "Add Class" %}</a>
                                </li>
                                <li><a href="{% url 'list_classes' %}" class="sub-menu-item">{% trans "Classes List" %}</a></li>
                                <li><a href="{% url 'class_archived_list' %}" class="sub-menu-item">{% trans "Archived Classes" %}</a></li>
                            </ul>
                            <li class="sidebar-item has-sub">
                                        <a role="button" class="sidebar-link" data-bs-toggle="tooltip" data-bs-placement="right"
                                        title="{% trans "Grades Management" %}" tabindex="0"><i class="bi bi-stack"></i> <span>{% trans "Grades Management" %}</span></a>
                                    <ul class="sub-menu">
                                        <li><a href=" {% url 'add_grade' %} " class="sub-menu-item">{% trans "Add Grade" %}</a>
                                        </li>
                                        <li><a href="{% url 'grades_list' %}" class="sub-menu-item">{% trans "Grades List" %}</a></li>
                                    </ul>
                            </li>
                        </li>
                        <li class="sidebar-item has-sub">
                            <a role="button" class="sidebar-link" data-bs-toggle="tooltip" data-bs-placement="right"
                                title="{% trans "Teachers" %}" tabindex="0"><i class="bi bi-person"></i> <span>{% trans "Teachers" %}</span></a>

                            <ul class="sub-menu">
                                <li><a href=" {% url 'teacher_create' %} " class="sub-menu-item">{% trans "Add Teacher" %}</a></li>
                                <li><a href="{% url 'teachers_list' %}" class="sub-menu-item">{% trans "Teachers List" %}</a>
                                </li>
                                <li><a href="{% url 'teacher_archived_list' %}" class="sub-menu-item">{% trans "Archived Teachers" %}</a></li>
                            </ul>
                            
                        </li>
                       
                        <li class="sidebar-item has-sub">
                            <a role="button" class="sidebar-link" data-bs-toggle="tooltip" data-bs-placement="right"
                                title="{% trans "schedules" %}" tabindex="0"><i class="bi bi-person"></i> <span>{% trans "schedules" %}</span></a>

                            <ul class="sub-menu">
                                <li><a href=" {% url 'subject_create' %} " class="sub-menu-item">{% trans "Add schedule" %}</a></li>
                                <li><a href="{% url 'schedule_list' %}" class="sub-menu-item">{% trans "Schedules" %}</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item has-sub">
                            <a role="button" class="sidebar-link" data-bs-toggle="tooltip" data-bs-placement="right"
                                title="{% trans "Subjects" %}" tabindex="0"><i class="bi bi-person"></i> <span>{% trans "Subjects" %}</span></a>

                            <ul class="sub-menu">
                                <li><a href=" {% url 'subject_create' %} " class="sub-menu-item">{% trans "Add Subject" %}</a></li>
                                <li><a href="{% url 'subject_list' %}" class="sub-menu-item">{% trans "Subjects List" %}</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item has-sub">
                            <a role="button" class="sidebar-link" data-bs-toggle="tooltip" data-bs-placement="right"
                                title="{% trans "Assignments and Exams" %}" tabindex="0"><i class="bi bi-list"></i> <span>{% trans "Assignments & Exams" %}</span></a>
                            <ul class="sub-menu">
                                <li><a href="{% url 'trimestre_list' %}" class="sub-menu-item">{% trans "Trimester List" %}</a></li>
                                <li><a href="{% url 'devoir_create' %}" class="sub-menu-item">{% trans "Add Assignment" %}</a></li>
                                <li><a href="{% url 'devoir_list' %}" class="sub-menu-item">{% trans "Assignments List" %}</a></li>
                                <li><a href="{% url 'composition_create' %}" class="sub-menu-item">{% trans "Add Exam" %}</a></li>
                                <li><a href=" {% url 'composition_list' %} " class="sub-menu-item">{% trans "Exams List" %}</a></li>
                            </ul>
                        </li>
                        <li class="sidebar-item has-sub">
                            <a role="button" class="sidebar-link" data-bs-toggle="tooltip" data-bs-placement="right"
                                title="{% trans "Grades" %}" tabindex="0"><i class="bi bi-egg-fill"></i> <span>{% trans "Grades" %}</span></a>
                            <ul class="sub-menu">
                                
                                <li><a href="{% url 'add_note_devoir' %}" class="sub-menu-item">{% trans "Add Assignment Grade" %}</a></li>
                                <li><a href="{% url 'homework_list' %}" class="sub-menu-item">{% trans "Assignments List" %}</a></li>
                                <li><a href="{% url 'add_note_exam' %}" class="sub-menu-item">{% trans "Add Exam Grade" %}</a></li>
                                <li><a href=" {% url 'composition_list' %} " class="sub-menu-item">{% trans "Exams List" %}</a></li>
                            </ul>
                        </li>
                        <li class="sidebar-item has-sub">
                            <a role="button" class="sidebar-link" data-bs-toggle="tooltip" data-bs-placement="right"
                                title="{% trans "Reports" %}" tabindex="0"><i class="bi bi-table"></i> <span>{% trans "Reports" %}</span></a>
                            <ul class="sub-menu">
                                
                                <li><a href="{% url 'afficher_notes' %}" class="sub-menu-item">{% trans "Assignment Grades" %}</a></li>
                                <li><a href="{% url 'afficher_notes_exams' %}" class="sub-menu-item">{% trans "Exam Grades" %}</a></li>
                                <li><a href="{% url 'students_list' %}" class="sub-menu-item">{% trans "Students List" %}</a></li>
                                <li><a href=" {% url 'composition_list' %} " class="sub-menu-item">{% trans "Exams List" %}</a></li>
                                <li><a href=" {% url 'select_class_for_report' %} " class="sub-menu-item">{% trans "Grade Reports" %}</a></li>
                            </ul>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <!-- sidebar menu -->
    </div>
{% endblock sidebar %}
<div class="main-content" style="margin-top: 40px;">
        <div class="breadcrumb-wrap mb-20">
            
            {% block body %}
            {% if messages %}
            <div class="container mt-4">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show  btn-warning" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            {% endblock body %}
        </div>
</div>
</div>
{% compress js %}
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
        <script src="{% static 'js/chart-init.js' %}"></script>
        <script src="{% static 'js/apexcharts.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/sweetalert.min.js' %}"></script>
        <script src="{% static 'js/toastify-js.js' %}"></script>
        <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'js/dataTables.responsive.min.js' %}"></script>
        <script src="{% static 'js/datatables-init.js' %}"></script>
        <script src="{% static 'js/toastr.min.js' %}"></script>
{% endcompress %}
    
    {% block js %}
        
    {% endblock js %}
        

</body>

</html>