{% load static i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block script %}
    {% endblock script %}

    {% block title %}
    <title>{% trans "My School" %}</title>
    {% endblock title %}
         


    <link rel="stylesheet" href=" {% static '/css/animate.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'bootstrap-icon/bootstrap-icons.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/jquery.mCustomScrollbar.min.css' %}">
    <link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href=" {% static '/css/sweetalert.css' %} ">
    <link rel="stylesheet" href=" {% static '/css/toastify.min.css' %} ">
    <link rel="stylesheet" href=" {% static '/css/jquery.dataTables.min.css' %} ">
    <link rel="stylesheet" href=" {% static '/css/responsive.bootstrap.min.css' %} ">
    <link rel="stylesheet" href=" {% static '/css/bootstrap.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/select2.min.css' %}">
    <link rel="stylesheet" href=" {% static 'css/style.css' %}">
    <script src=" {% static 'js/toastr.min.js' %}"></script>
    <style>
        .col-md-4 {
            overflow: visible;
        }
    </style>
</head>

<body>
    <div class="fixed-top-section bg-success text-white">
        <div class="profile-info">
            <img src="
            {% if student.photo %}{{ student.photo.url }}{% else %}{% static 'images/default-profile.png' %}{% endif %}
            "
                 alt="{% trans 'Profile Picture' %}" class="profile-photo">
            <h4>{% trans "Welcome, Student " %} {{ request.user.first_name }} {{ request.user.last_name }}</h4>
            
            
                
        </div>
        {% block time %}
                
            {% endblock time %}
        <a href="{% url 'logout' %}" class="btn btn-danger">{% trans "Logout" %}</a>
    </div>

{% block sidebar %}
    

    
    <!-- main sidebar -->
    <div class="fixed-sidebar sidebar-mini" style="margin-top: 40px;">
        <div class="logo">
            <button class="sidebar-collapse"><i class="bi bi-list"></i></button>
            <a href=" {% url 'student_dashboard' %} "><img src=" {% static 'images/logoo.png' %}" alt="{% trans "LOGO" %}"></a>
        </div>
        <!-- sidebar menu -->
        <div class="menu">
            <div class="custom-scroll">
                <div class="sidebar-menu">
                    <ul>
                        <li class="sidebar-title"><span>{% trans "Menu" %}</span>
                        </li>
                        <li class="sidebar-item"><a href=" {% url 'student_dashboard' %} " class=" sidebar-link active"
                                data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans "Home Page" %}" tabindex="0"><i
                                    class="bi bi-list"></i> <span>{% trans "Home Page" %}</span></a></li> 
                                    
                    </ul>
                </div>
            </div>
        </div>
        <!-- sidebar menu -->
    </div>
{% endblock sidebar %}
    <div class="main-content" style="margin-top: 20px;">
        <div class="breadcrumb-wrap mb-20">
            
            {% block body %}
            {% if messages %}
            <div class="container mt-4">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            {% endblock body %}
        </div>
    </div>
    </div>

    <script src=" {% static '/js/jquery-3.6.0.min.js' %}"></script>
    <script src=" {% static '/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src=" {% static '/js/apexcharts.js' %}"></script>
    <script src=" {% static '/js/bootstrap.bundle.min.js' %}"></script>
    <script src=" {% static '/js/main.js' %}"></script>
    <script src=" {% static '/js/chart-init.js' %}"></script>

    <script src=" {% static '/js/sweetalert.min.js' %}"></script>
    <script src=" {% static '/js/toastify-js.js' %}"></script>
    <script src=" {% static '/js/jquery.dataTables.min.js' %}"></script>
    <script src=" {% static '/js/dataTables.responsive.min.js' %}"></script>
    <script src=" {% static '/js/datatables-init.js' %}"></script>
</body>

</html>