{% extends "base.html" %}
{% load static %}
{% block body %}
    {{ block.super }}
        <!-- main sidebar -->
            <div class="top-boxes mb-10">
                <div class="row g-10">
                    <div class="col-xl-3 col-lg-3 col-sm-6">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="part-icon bg-primary">
                                    <i class="bi-person-badge-fill"></i>
                                </div>
                                <div class="part-txt">
                                    <p><span>Total des Etudients</span>{{ total_students }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-sm-6">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="part-icon bg-info">
                                    <i class="bi bi-person-fill"></i>
                                </div>
                                <div class="part-txt">
                                    <p><span>Total des Classes</span>{{ clsses_counts }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-sm-6">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="part-icon bg-success">
                                    <i class="bi bi-home"></i>
                                </div>
                                <div class="part-txt">
                                    <p><span>Following</span>80.000</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-sm-6">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="part-icon bg-danger">
                                    <i class="bi bi-bookmark-dash-fill"></i>
                                </div>
                                <div class="part-txt">
                                    <p><span>Saved Post</span>112</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-10">
                <div class="col-xl-6 col-lg-6">
                    <div class="panel mb-10">
                        <div class="panel-heading">
                            <span>Les entres des eleves par Mois</span>
                        </div>
                        <div class="panel-body">
                            <div id="student-fees-chart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="panel mb-10">
                        <div class="panel-heading">
                            <span>Analytics</span>
                        </div>
                        <div class="panel-body">
                            <div id="chart-analytics"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-10">
                <div class="col-xl-4 col-lg-4">
                    <div class="panel mb-10">
                        <div class="panel-heading">
                            <span>Les etudient recent</span>
                        </div>
                        <div class="panel-body">
                            <div class="recent-message">
                                <ul>
                                    {% for student in students %}
                                    <li>
                                        <a href="{% url 'student_detail' student.id %}" class="message-box">
                                            <div class="part-img">
                                                {% if student.photo %}
                                                <img
                                                src="{{ student.photo.url }}"
                                                class="img-fluid rounded-start zoom"
                                                alt="Student Photo"
                                                />
                                                {% else %}
                                                <img
                                                src=" {% static 'images/child.png' %} "
                                                class="img-fluid rounded-start zoom"
                                                alt="Placeholder Photo"
                                                />
                                                {% endif %}
                                            </div>
                                            <div class="part-txt">
                                                <p>
                                                    {{ student.first_name }} {{ student.last_name }}</p>
                                                <span>@{{ student.student_class}}</span>
                                            </div>
                                        </a>
                                        {% endfor %}
                                    </li>
                                    <li>
                                        <a href="#" class="part-btn">Start Conversation</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8">
                    <div class="panel mb-10">
                        <div class="panel-heading">
                            <span>Latest Comments</span>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive latest-comments">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Comment</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="user">
                                                    <div class="img">
                                                        <img src="assets/images/avatar-1.jpg" alt="User">
                                                    </div>
                                                    <div class="txt">
                                                        <a href="#">Steven Brown</a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="comment">
                                                    <p>Really great work bro! Good Luck</p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="user">
                                                    <div class="img">
                                                        <img src="assets/images/avatar-2.jpg" alt="User">
                                                    </div>
                                                    <div class="txt">
                                                        <a href="#">Keith Mendoza</a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="comment">
                                                    <p>You have really amazing templates and a lot of time Good luck!</p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="user">
                                                    <div class="img">
                                                        <img src="assets/images/avatar-3.jpg" alt="User">
                                                    </div>
                                                    <div class="txt">
                                                        <a href="#">John Page</a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="comment">
                                                    <p>We don't see you a loooongg time ago. Then you appear with a such amazing item! Really good job boy.</p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="user">
                                                    <div class="img">
                                                        <img src="assets/images/avatar-4.jpg" alt="User">
                                                    </div>
                                                    <div class="txt">
                                                        <a href="#">Zachary Philips</a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="comment">
                                                    <p>Very nice indeed, you're really working with passion and patience too GLWS!</p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="user">
                                                    <div class="img">
                                                        <img src="assets/images/avatar-5.jpg" alt="User">
                                                    </div>
                                                    <div class="txt">
                                                        <a href="#">Daniel Wise</a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="comment">
                                                    <p>Really awesome and Great work, Looks pretty cool. GLWS</p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-10">
                <div class="col-xl-6 col-lg-6">
                    <div class="panel mb-10">
                        <div class="panel-heading">
                            <span>Le Nombres d'Éleves Par Classe</span>
                            <div class="right">
                                <a href="#" class="action-btn">Show All</a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="transaction-history">
                                <ul>
                                    {% for class in class_counts %}
                                        <li>
                                            <div class="left">
                                                <span class="transaction-badge">C</span>
                                                <span class="transaction-with">Class : {{ class.name }}</span>
                                            </div>
                                            <div class="right">
                                                <span class="badge bg-secondary rounded-pill">{{ class.student_count }}</span>
                                                <span class="text-success">| Éleves</span>
                                            </div>
                                             </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    // Fetch data for the student fees chart
                    fetch("{% url 'student_fees_by_month' %}")
                        .then(response => response.json())
                        .then(data => {
                            const options = {
                                annotations: { position: 'back' },
                                dataLabels: { enabled: false },
                                chart: { type: 'bar', height: 450 },
                                fill: { opacity: 1 },
                                series: [{ name: 'Student Fees', data: data.series }],
                                colors: ['#9cd02d'],
                                xaxis: {
                                    categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                                },
                                fill: {
                                    type: 'gradient',
                                    gradient: {
                                        shade: 'light',
                                        type: "vertical",
                                        shadeIntensity: 0.5,
                                        gradientToColors: ['#D2E34A'],
                                        inverseColors: true,
                                        opacityFrom: 1,
                                        opacityTo: 1,
                                        stops: [0, 100],
                                        colorStops: []
                                    }
                                },
                                responsive: [
                                    { breakpoint: 576, options: { chart: { height: 250 } } },
                                    { breakpoint: 1700, options: { chart: { height: 350 } } }
                                ]
                            };
                
                            const chart = new ApexCharts(document.querySelector("#student-fees-chart"), options);
                            chart.render();
                        })
                        .catch(error => console.error('Error fetching chart data:', error));
                });
                </script>
{% endblock body %}