<!-- templates/devoir_list.html -->
{% extends "base.html" %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Devoirs</title>
</head>

{% block body %}    
    <h1>Liste des Devoirs</h1>
    <a href="{% url 'devoir_create' %}">Ajouter un Devoir</a>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Trimestre</th>
                <th>Classe</th>
                <th>Sujet</th>
                <th>Coefficient</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for devoir in devoirs %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ devoir.name }}</td>
                <td>{{ devoir.trimestre.name }}</td>
                <td>{{ devoir.classe.name }}</td>
                <td>{{ devoir.subject.name }}</td>
                <td>{{ devoir.coefficient }}</td>
                <td>
                    <a href="{% url 'devoir_update' devoir.id %}" class="btn btn-warning">Modifier</a> |
                    <a href="{% url 'devoir_delete' devoir.id %}" class="btn btn-secondary">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock body %}
