{% extends "base.html" %} {% load static %}
{% load crispy_forms_tags %}


    {% block title %}
    <title>{% if teacher %}Modifier l'enseignant{% else %}Ajouter un enseignant{% endif %}</title>
    {% endblock title %}



    {% block body %}
    <div class="main-content">
            <div class="d-md-flex d-block justify-content-between align-items-center">
                <div class="left">
                            <div class="container mt-4">
                                <h1>{% if form.instance.pk %}Update{% else %}Create{% endif %} Teacher</h1>
                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {% crispy form 'bootstrap5' %}
                                </form>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
