{% extends "base.html" %}
{% load static %}
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
    <title>List des etudients</title>
    {% endblock title %}
</head>

    {% block body %}
    <!-- main sidebar -->
    <a href="{% url 'teacher_create' %}" class="btn btn-primary">Ajouter un enseignant</a>
    <table id="myTable" class="table table-light data-table table-hover text-nowrap">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Matières</th>
                <th>Classes</th>
                <th>Salaire</th>
                <th>Type de salaire</th>
                <th>Date d'embauche</th>
                <th>Téléphone</th>
                <th>ImageId</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for teacher in teachers %}
            <tr>
                <td>{{ teacher.name }}</td>
                <td>{{ teacher.get_subjects }}</td>
                <td>{{ teacher.get_classes }}</td>
                <td>{{ teacher.salary }}</td>
                <td>{{ teacher.get_salary_type_display }}</td>
                <td>{{ teacher.enrollment_date }}</td>
                <td>{{ teacher.telephone }}</td>
                <td>
                    {% if teacher.photo %}
                    <img src="{{ teacher.photo.url }}" alt="Profile Picture" class="img-thumbnail" width="50">
                    {% else %}
                    No Image
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'teacher_update' teacher.id %}" class="btn btn-warning">Modifier</a>
                    <a href="{% url 'teacher_archive' teacher.id %}" class="btn btn-danger">Archiver</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}
