<!-- templates/composition_confirm_delete.html -->
{% extends "base.html" %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supprimer une Composition</title>
</head>
{% block body %}
    <h1>Supprimer une Composition</h1>
    <p>Êtes-vous sûr de vouloir supprimer la composition "{{ composition.name }}" ? Cette action est irréversible.</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Oui, supprimer</button>
        <a href="{% url 'composition_list' %}">Annuler</a>
    </form>
    {% endblock %}