{% extends "base.html" %} {% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List des etudients</title>

    <link rel="shortcut icon" href="favicon.png" />
  </head>
  <body>
    {% block body %}
    <!-- main sidebar -->
    <div class="main-content">
      <div class="breadcrumb-wrap mb-20">
        <div
          class="d-md-flex d-block justify-content-between align-items-center"
        >
          <div class="left">
            <h1>Data Table</h1>
            <p>
              DataTables is a plug-in for the jQuery Javascript library. It adds
              all of these advanced features to any HTML table.
            </p>
          </div>
          <div class="right">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="index.html">Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                  <i class="bi bi-caret-right"></i>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Data Table
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <div class="row g-10">
        <div class="col-xl-12 col-lg-12">
          <div class="panel mb-10">
            <div class="container mt-5">
                <h1 class="mb-4">Liste des Parents</h1>
                <div class="row">
                    {% for parent in parents %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img
                                src="{% if parent.photo %}{{ parent.photo.url }}{% else %}{% static 'images/parent-placeholder.png' %}{% endif %}"
                                class="card-img-top"
                                alt="Photo du Parent"
                            />
                            <div class="card-body">
                                <h5 class="card-title">{{ parent.first_name }} {{ parent.last_name }}</h5>
                                <p class="card-text"><strong>Email:</strong> {{ parent.email }}</p>
                                <p class="card-text"><strong>Téléphone:</strong> {{ parent.phone_number }}</p>
                                <p class="card-text"><strong>Enfants:</strong> {{ parent.get_children_names }}</p>
                                <a href="{% url 'parent_detail' parent.id %}" class="btn btn-primary">Détails</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endblock body %}
  </body>
</html>
