{% extends "base.html" %}
{% block body %}
<div class="container mt-5">
    <h1 class="text-center">Modifier le Frais de {{ fee.student.first_name }} {{ fee.student.last_name }}</h1>
    <h1 class="text-center">Mois de| {{ fee.due_date|date:"j F Y" }}</h1>
    <hr />
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Mettre à Jour</button>
    </form>
    <a href="{% url 'student_fee_list' %}" class="btn btn-secondary mt-3">Retour à la Liste</a>
</div>
{% endblock %}