{% extends "basef.html" %} {% load static %}
{% block body %}
<div class="container mt-5">
    <h1 class="text-center">Liste des Transactions</h1>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <p><strong>Total des Revenus :</strong> {{ total_income }} MRU</p>
        </div>
        <div class="col-md-6">
            <p><strong>Total des Dépenses :</strong> {{ total_expense }} MRU</p>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>caisse</th>
                    <th>Type</th>
                    <th>Montant</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="myTable"
            class="table table-light data-table table-hover text-nowrap">
                {% for transaction in transactions %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ transaction.cash_register }}</td>
                    <td>{{ transaction.transaction_type }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.date|date:"d/m/Y H:i" }}</td>
                    <td>
                        <a href="{% url 'transaction_details' transaction.id %}" class="btn btn-primary btn-sm">Détails</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{% url 'add_transaction' %}" class="btn btn-success mt-3">Ajouter une Transaction</a>
</div>
{% endblock %}