{% extends "basef.html" %}
{% block body %}
<div class="container mt-5">
    <h1 class="text-center">Détails de la Transaction</h1>
    <hr />
    <p><strong>Type :</strong> {{ transaction.get_type_display }}</p>
    <p><strong>Montant :</strong> {{ transaction.amount }}</p>
    <p><strong>Date :</strong> {{ transaction.transaction_date|date:"d/m/Y H:i" }}</p>
    <p><strong>Description :</strong> {{ transaction.description }}</p>
    <a href="{% url 'transaction_list' %}" class="btn btn-secondary mt-3">Retour à la liste</a>
</div>
{% endblock %}