{% extends "base.html" %}
{% load static %}
{% block body %}
<h2>Liste des Devoirs</h2>
<a href="{% url 'add_homework' %}" class="btn btn-primary">Ajouter un Devoir</a>
<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Élève</th>
            <th>Matière</th>
            <th>Date d'échéance</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for homework in homeworks %}
        <tr>
            <td>{{ homework.name }}</td>
            <td>{{ homework.student }}</td>
            <td>{{ homework.subject }}</td>
            <td>{{ homework.due_date }}</td>
            <td>
                <a href="{% url 'edit_homework' homework.pk %}" class="btn btn-warning">Modifier</a>
                <a href="{% url 'delete_homework' homework.pk %}" class="btn btn-danger">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}