{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Trimestres</title>
</head>
{% block body %}    
    <h1>Liste des Trimestres</h1>
    <a href="{% url 'trimestre_create' %}">Ajouter un Trimestre</a>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for trimestre in trimestres %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ trimestre.name }}</td>
                <td>
                    <a href="{% url 'trimestre_update' trimestre.id %}" class="btn btn-warning">Modifier</a> |
                    <a href="{% url 'trimestre_delete' trimestre.id %}" class="btn btn-secondary">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
